h1 > .create {
  margin-left: 2em;
}
.buttons-cell {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.buttons-cell > * {
  margin-right: 1em;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}
.confirm {
  display: flex;
  justify-content: center;
}

.form-create-invoice {
  width: 40%;
}
.invoiceProductTable {
  table-layout: fixed;
}
.qty {
  padding-left: 0;
}